$bg-color: #1e112a;
$text-color: #e2e8f0;
$main-font-family: 'Raleway', serif; 
$min-mobile-width: 320px;
$max-mobile-width: 420px;
$min-tablet-width: 744px;
$max-tablet-width: 1000px;
$min-desktop-width: 1024px;
$max-desktop-width: 1440px;
$padding-mobile: 20px;
$padding-tablet: 50px;
$padding-desktop: 100px;
$gray-color: #94a3b8;
$purple-color:	#3a285a;
$skills-bcg-color: #a9aad5;
$pink-color: #f8e4e9;
$deep-purple-color: #050822;
