.skills {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 18px;

  @include on-desktop {
    gap: 24px;
  }

  @include on-desktop-xl {
    gap: 30px;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 18px;

  @include on-desktop {
    gap: 24px;
  }

  @include on-desktop-xl {
    gap: 30px;
  }
}

.sublist {
  display: flex;
  gap: 7px;
  flex-wrap: wrap;
  border: 1px solid $text-color;
  padding: 7px 5px;
  border-radius: 20px;
  box-shadow: 0px 10px 20px -18px;

  @include on-desktop {
    padding: 12px;
    gap: 10px;
  }

  @include on-desktop-xl {
    padding: 20px;
  }
}

.subitem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85px;
  background-color: $skills-bcg-color;
  color: $purple-color;
  padding: 7px;
  white-space: nowrap;
  border-radius: 20px;

  @include on-desktop {
    font-size: 18px;
    padding: 7px 10px;
  }

  @include on-desktop-xl {
    width: 100px;
    font-size: 20px;
    padding: 10px 20px;
  }
}