.about {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  max-width: $max-mobile-width;
  margin: 0 auto 20px auto;
}

.passage {
  color: $gray-color;
}

.highlight {
  color: $text-color;
  font-weight: 600;
}