.sidebar {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: $padding-mobile;
  max-width: $max-mobile-width;
  margin: 0 auto 20px auto;

  @include on-tablet {
    padding: $padding-mobile $padding-tablet;
    max-width: $max-tablet-width;
  }

  @include on-tablet {
    position: sticky;
    top: 0;
    justify-content: space-between;
    padding: $padding-desktop 0 $padding-desktop $padding-desktop;
    height: 100vh;
    overflow: hidden;
    min-width: 40%;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.title {
  font-size: 36px;

  @include on-tablet {
    font-size: 40px;
  }

  @include on-desktop {
    font-size: 48px;
    line-height: 1.5;
  }
}

.text,
.descr {
  font-size: 18px;

  @include on-tablet {
    font-size: 22px;
  }
}

.descr {
  color: $gray-color;
  font-size: 18px;

  @include on-desktop {
    margin-bottom: 40px;
  }
}

.sections {
  display: none; 

  @include on-desktop {
    display: flex;
    flex-direction: column;
  }
}

.sectionName {
  position: relative;
  width: 200px;  
  padding: 12px 0;
  transition: all 0.3s cubic-bezier(.4,0,.2,1);

  &:hover .sectionLink .line,
  &:focus-visible .sectionLink .line {
    background-color: $text-color;
    width: 64px;
  }

  &:hover .sectionLink,
  &:focus-visible .sectionLink {
    color: $text-color;
  }
}

.sectionLink {
  display: flex;
  align-items: center;
  gap: 10px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.1em;
  font-weight: 700;
  color: $gray-color;
  transition: color 0.3s cubic-bezier(.4,0,.2,1);

  .line {
    display: inline-block;
    width: 32px;
    height: 1px;
    background-color: $gray-color;
    transition: width 0.3s cubic-bezier(.4,0,.2,1), background-color 0.3s cubic-bezier(.4,0,.2,1);
  }

  &:active {
    color: $text-color;

    .line {
      background-color: $text-color;
      width: 64px;
    }
  }
}

.isActive {
  color: $text-color;

  .line {
    background-color: $text-color;
    width: 64px;
  }
}

.linksList {
  display: flex;
  gap: 15px;

  @include on-desktop {
    gap: 18px;
  }
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 20px;
  height: 20px;
  fill: $gray-color;

  @include on-tablet {
    width: 24px;
    height: 24px;
  }

  @include hover(fill, $text-color);
}