@import './utils//variables';
@import './utils//mixins';

:root {
  font-family: $main-font-family;
  font-weight: 400;

  color-scheme: light dark;
  color: $text-color;
  background-color: $bg-color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: $text-color;
  -webkit-box-shadow: 0 0 0 1000px $bg-color inset;
  transition: background-color 5000s ease-in-out 0s;
}

body {
  margin: 0 auto;
  min-width: 320px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

#cursor-circle {
  position: fixed;
  top: 0;
  left: 0;
  width: 800px;
  height: 800px;
  background: radial-gradient(rgba(58, 40, 90, 0.35), transparent 70%);
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: background 0.3s ease;
  z-index: -2;
}

.page-wrapper {
  @include on-desktop {
    display: flex;
    gap: 40px;
  }
}

.content-box {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include on-desktop {
    gap: 20px;
    padding: $padding-desktop $padding-desktop $padding-mobile 0;
  }
}

.section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: $padding-mobile;
  max-width: $max-mobile-width;
  margin: 0 auto;

  @include on-tablet {
    max-width: $max-tablet-width;
    padding: $padding-mobile $padding-tablet;
  }

  @include on-desktop {
    padding: $padding-tablet 0 0;
    min-width: 100%;
  }
}

.section-title {
  position: sticky;
  top: 0;
  padding: $padding-mobile;
  background-color: rgba(30, 17, 42, 0.5);
  backdrop-filter: blur(10px);
  text-transform: uppercase;
  font-size: 16px;

  @include on-tablet {
    font-size: 18px;
    padding: $padding-mobile $padding-tablet 0 0;
  }

  @include on-desktop {
    display: none;
  }
}